@import url("normalize.css");
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Concert+One');

* {
    padding: 0px;
    margin: 0px;
}

/*header*/
#header {
    display: flex;
    flex-flow: row wrap;
    background-color:  #A3D9FF;
    color:#FCF7F8;
    height: 68px;
}

/*header logo*/
#header > .logo {
    width: 350px;
    float: left;
}

#header > .logo * {
    overflow: hidden;
    display: inline-block; 
    font-family: 'Luckiest Guy', cursive;
    font-weight: bold;
    font-size: 2.6rem;
    margin-left: 10px;
}

/*logo icon transformation*/
.logoImg {
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

.logoImg:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

/*header navigation*/
nav {
    margin: 0;
    padding: 0;
    background-color: #A3D9FF;
    font-family: 'Concert One', cursive;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

nav ul li {
    padding: 14px 16px;
    margin-top: 22px;
}

nav ul li a {
    color:white;
    text-decoration: none !important;
}

nav ul li:hover {
    background-color:#4381C1;
}

/*Main content*/
main {
    display: flex;
    flex-flow: column nowrap;
    min-height: calc(100vh - 70px);
    font-family: 'Concert One', cursive;
}

/*Quote*/
#quote-container {
    min-height: 100px;
    margin-left: 25px;
}

/*Image frames on the main page*/
.tile-list-section {
    display: flex;
    flex-flow: column wrap;
    background-image: url("../images/tiles-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 900px;
    text-align: center;
    color: white;
}

.tile-list-section .tile-section-text {
    font-size: 75px;
}

.tile-list-first-row > div {
    display: inline-flex;
    margin: 20px 20px 20px 20px;
}

.tile-list-second-row > div {
    display: inline-flex;
    margin: 20px 20px 20px 20px;
}

.tile-wrap {
    width: 250px;
    height: 250px;
}

.tile-image {
    min-width: 100px;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.tile-image {
    shape-outside: url("../pages/images/manage-time-icon.png");
    shape-image-threshold: 0.5;
    float: left;
    min-width: 100px;
    min-height: 100px;
}

.tile-name {
    color: black;
    font-weight: 700;
    padding-top: 15px;
}

.tile-inner-wrap {
    position: relative;
    width: inherit;
    height: inherit;
    border: 1px solid gray;
    transform-style: preserve-3d;
    transition: all 0.8s linear;
}

.tile-wrap:hover .tile-inner-wrap {
    transform: rotateY(180deg);
}

.tile-front-side {
    position: absolute;
    backface-visibility: hidden;
    background-color: white;
    z-index: 5;
    width: inherit;
    height: inherit;
}

.shape-form {
    position: absolute;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.tile-back-side {
    position: absolute;
    backface-visibility: hidden;
    width: inherit;
    height: inherit;
    background-color: rgb(212, 206, 206);
    color: gray;
    transform: rotateY(180deg);
}

.tile-back-top-part {
    height: 30%;
    background-color: #F4F4F4;
    color:#939393;
    text-align: center;
    padding-top: 5px;
    font-size: 1.3rem;
}

.tile-back-bottom-part {
    height: 66%;
    background-color: #939393;
    color:white;
    text-align: center;
    padding-top: 5px;
    font-size: 1.0rem;
}

/*aside section*/
.author-aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    color: #29627e;
    box-shadow: inset 5px 0 5px -5px #29627e;
}

.author-aside ul {
    list-style: none;
}

.video-form {
    text-align: center;
}


.video-form p {
    font-size: 3rem;
}

/*footer*/
#footer {
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: #5B616A;
    color: #FCF7F8;
    text-align: center;
}

/*footer ancors*/
#footer a:visited {
    color: #FCF7F8;
}

#footer a:active {
    color: #FCF7F8;
}