table
{
    border-spacing: 0.5rem;
    width: 850px;
    height: 500px;
}

td, th
{
    border: 1px solid #ccc;
    padding: 0.5rem;
}

th
{
    background: lightblue;
    border: white;
}

.colomnTitle
{
    color:white;
    font-family: "Whitney Cond A", "Whitney Cond B", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    font-weight: bold;
}