.wrapper {
    display: grid;
    grid-template-columns: 650px 450px;
    grid-template-rows: 50px 450px;
}

.introduction-text {
    grid-column: 1 / 2;
    grid-row: 1;
}

.table {
    grid-column: 1;
    grid-row:2;
}

.aside {
    grid-column: 2;
    grid-row: 1 / 2;
}